{
  "presets": [
    "es2015",
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    "transform-react-constant-elements"
  ],
  "ignore": [
    "build",
    "node_modules"
  ],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    }
  }
}